@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Smooch&display=swap');

$bg: #1b1b1b;
$accent: #24eb87;
$secondary: invert($bg);
$font-main: 'Roboto', sans-serif;
$font-acc: 'Smooch', cursive;
$yellow: rgb(196, 176, 63);