.simple-keyboard {
    max-width: 850px;
    position: absolute;
    bottom: 20px;
  }
  
  /*
    Theme: myTheme1
  */
  .simple-keyboard.myTheme1 {
    background-color: transparent;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .simple-keyboard.myTheme1 .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: $accent;
    transition: .15s background;
  }
  
  .simple-keyboard.myTheme1 .hg-button:active {
    background: $accent;
    color: $bg;
  }
  
  #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: $accent;
  }